<div class="mainPage">
    <header>
        <div id="temperature">{{temperature}} &#x2103;</div>
        <div id="todoList">
            <button class="btn" type="button" ng-init="show ='false'" ng-click="show = !show"><span class="glyphicon glyphicon-list iconStyle" aria-hidden="true"></span></button>
            <div id="todoListPannel" class="panel panel-default" ng-hide="show">
                <input type="text" placeholder="Add task" ng-keyup="addTask()" ng-model="newTask" id="newTaskTxt"></input>
                <div id="taskScoreBar" class="panel-heading"></div>
                <div id="taskList">
                    <ul class="">
                        <li class="panel-body taskName" data-ng-repeat="task in taskList" ng-dblclick="task.editing=!task.editing">
                            <input type="checkbox" ng-model="task.done" ng-show="task.editing" />
                            <span id="taskDisplay" class="done-{{task.done}}" ng-show="task.editing">
                            {{task.taskName}}
                            </span>
                            <input type="text" ng-hide="task.editing" value="{{task.taskName}}" id="taskEditTxt" ng-keyup="editTask(task)" ng-model="task.taskName"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <div id="currentTime">
            <span>{{date.currentTime | date:"hh mm ss"}}</span>
            <br>
            <span>{{date.currentTime | date:"EEEE,MMMM d,yyyy"}}</span>
        </div>
        <div id="yourGoal">
            <h3>Good Morning,<b>Atishay</b>.<i>Your Goal is to become a <input  type="text" id=""></input>.</i></h3>
        </div>
        <div id="qutation">
            <h4>"{{quote}}"</h4>
        </div>
    </div>
    <footer>
        <div id="music"></div>
        <div id="settings"></div>
    </footer>
</div>