<div class="mainPage">

    <header>
        <div id="temperature">Temperature</div>
        <div id="todoList">
        	<span class="glyphicon glyphicon-list iconStyle" aria-hidden="true"></span>
        </div>
        <div id="notifyAlarm">
            <span class="glyphicon glyphicon-calendar iconStyle" aria-hidden="true"></span>
        </div>
    </header>
    <div id="main">
        <div id="currentTime">
            <span>11:24</span>
        </div>
        <div id="yourGoal">
        <h3>Good Morning,<b>Atishay</b>.Your Goal is to become a JavaScript Developer.</h3>
        </div>
        <div id="qutation">
        <h4>"Stay Hungry,stay foolish"</h4>
        </div>
    </div>
    <footer>
        <div id="music"></div>
        <div id="settings"></div>
    </footer>
</div>